extends register_layout

block register
  script(src='/help/views/alerts.js')
  script(src='/help/views/main.js')
  script(src='/lib/date.format/date.format.js')
  script(src='/help/settings.js')
  script(src='/help/utils.js')
  script(src='/help/models/register.js')
  script(src='/help/views/register.js')
  script(src='/help/models/password.js')
  script(src='/help/views/password.js')
  script(src='/help/main.js')
  script(src='/js/form-validators.js')
