!!!
html
  head
    meta(charset="utf-8")
    title= title
    meta(http-equiv="X-UA-Compatible",content="IE=edge") 
    meta(name="viewport",content="width=device-width,initial-scale=1")
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/lib/backbone-forms-custom/templates/bootstrap3.css')
    link(rel='stylesheet', href='/lib/backbone-forms-custom/editors/jquery-ui.css')
    link(rel='stylesheet', href='/lib/jquery-ui/jquery-ui.min.css')
    link(rel='stylesheet', href='/lib/jasny-bootstrap/css/jasny-bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/iCheck/skins/flat/blue.css')
    <!--[if lt IE 9]>
    <script src="lib/html5/html5.js"></script>
    <![endif]-->


  body
    <!-- Navbar ======================================== -->

    #mainnav.nav.navbar.navbar-fixed-top.navbar-inverse(role="navigation")
      .container-fluid
        .navbar-header
          - if (everyauth.loggedIn)
            span.btn.subnav-toggle(data-toggle='offcanvas',data-target='#dssubnav',onclick='$("#dssubnav").offcanvas("toggle");')
              span.glyphicon.glyphicon-list
          span.navbar-toggle(data-toggle='collapse',data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          div.navbar-brand#spinner-area
          a.navbar-brand(href='/', data-i18n='app.name') #{title}
        .navbar-collapse.collapse
          ul.nav.navbar-nav#top_nav
            - if (!everyauth.loggedIn)
              li.active
                a(href='#',data-toggle="modal", data-target="#loginModal",data-i18n='nav:login') Login
          ul.nav.navbar-nav.navbar-right#home_nav
            - if (everyauth.loggedIn)
              li.nav-skip.dropdown
                a.dropdown-toggle(data-toggle="dropdown",href='#',role="button")
                  div.custom-icon.custom-icon-home
                  span#nav-home-username
                  span.caret
                ul.dropdown-menu(role="menu",aria-labelledby="dropdownMenu")
                  li.nav-skip
                    img.user-info(src="/images/user_info.png")
                    div#nav-home-fullname
                  li.nav-skip.divider
                  li.nav-skip.dropdown-header(role="presentation")
                    span.glyphicon.glyphicon-flag
                    span(data-i18n="app:language.Language") Language
                  li.nav-skip
                    a(href="?setLng=th")
                      span ไทย
                      &nbsp;
                      span.language#language-thai
                  li.nav-skip
                    a(href="?setLng=en-US")
                      span English
                      &nbsp;
                      span.language#language-english
                  li.nav-skip.divider
                  li.nav-skip
                    a(href="/logout")
                      span.glyphicon.glyphicon-off
                      span(data-i18n="nav:logout") Logout

    <!-- End Navbar ==================================== -->
    #subnav-placement
    #modal-area-confirmation

    script(src='/lib/jquery/jquery-1.11.1.min.js')
    script(src='/lib/jquery-ui/jquery-ui.min.js')
    script(src='/lib/i18next/i18next-1.3.1.min.js')
    script(src='/lib/bootstrap/js/bootstrap.min.js')
    script(src='/lib/jasny-bootstrap/js/jasny-bootstrap.min.js')
    script(src='/lib/socket.io/socket.io.js')

    script(src='/lib/backbone/underscore.js')
    script(src='/lib/backbone/backbone.js')
    script(src='/lib/backbone/backbone.debug.js')
    script(src='/lib/backbone/backbone.paginator.js')
    script(src='/lib/backbone/backbone-nested-v1.1.2.min.js')
    script(src='/lib/backbone-forms/backbone-forms.js')
    script(src='/lib/backbone-forms/adapters/backbone.bootstrap-modal.min.js')
    script(src='/lib/backbone-forms/editors/list.js')
    script(src='/lib/backbone-forms-custom/editors/jquery-ui.js')
    script(src='/lib/backbone-forms-custom/templates/bootstrap3.js')
    script(src='/lib/backbone-forms-custom/editors/darksolar.js')

    - if (everyauth.loggedIn)
      script(src='/lib/highcharts/highcharts.js')
      script(src='/lib/highcharts/modules/exporting.js')
      script(src='/lib/date.format/date.format.js')
      script(src='/lib/spin/spin.min.js')
      script(src='/js/settings.js')
  
      script(src='/js/utils.js')
      script(src='/js/views/alerts.js')
      script(src='/js/views/forcelogoutmodal.js')
      script(src='/js/views/confirmmodal.js')
      script(src='/js/views/subnav.js')
      script(src='/js/views/paginator.js')
      script(src='/js/views/dsspinner.js')
      script(src='/js/views/searchtoolbar.js')
      script(src='/js/views/maintoolbar.js')
      script(src='/js/views/icheck.js')

      script(src='/js/views/dashboard.js')
      script(src='/js/views/management.js')
      script(src='/js/views/package.js')
      script(src='/js/views/user.js')
      script(src='/js/views/accesscode.js')
      script(src='/js/views/registertracking.js')
      script(src='/js/views/radiusonlineuser.js')
      script(src='/js/views/charts/charts.js')
      script(src='/js/views/charts/chart_onlineusers.js')
      script(src='/js/views/charts/chart_traffic.js')

      script(src='/js/models/perm.js')
      script(src='/js/models/management.js')
      script(src='/js/models/package.js')
      script(src='/js/models/user.js')
      script(src='/js/models/accesscode.js')
      script(src='/js/models/radiususer.js')

      script(src='/js/main.js')
      script(src='/js/app/dashboard.js')
      script(src='/js/app/management.js')
      script(src='/js/app/package.js')
      script(src='/js/app/user.js')
      script(src='/js/app/logout.js')
      script(src='/lib/iCheck/icheck.min.js')

    script.
      $.i18n.init({
        fallbackLng: 'en-US',
        useLocalStorage: false,
        debug: true,
        ns: {
          namespaces: [ 'app', 'nav', 'management', 'package', 'user',
                        'onlineusers', 'accesscode', 'registertracking' ],
          defaultNs: 'app'
        }
      }, function () {
        $('body').i18n ();
      });

    #content.container-fluid
      != body

    script.
      $(function () {
        $(window).scroll (function () {
          var $window = $(window);
  
          if ($window.width () > 1000 && $window.height () >= 100) {
            if ($window.scrollTop() > 100) {
              $('[data-spy="ds-fixed"]').each (function () {
                var $this = $(this);

                if (!$this.applyfix) {
                  if (!$this.attr ('ds-top')) {
                    var p = $this.offset ();
                    $this.attr ('ds-top', p.top);
                    $this.attr ('ds-left', p.left);
                    $this.attr ('ds-width', $this.width ());
                  }

                  $this.css ('width', $this.attr ('ds-width'));
                  $this.offset ({ top: $this.attr ('ds-top'), left: $this.attr ('ds-left')});
                  $this.css ('position', 'absolute');
                  $this.applyfix = true;
                }
              });

              $('[data-spy="ds-affix"]').each (function () {
                var $this = $(this);

                if (!$this.applyfix) {
                  var offset = $window.scrollTop ();
                  if (!$this.attr ('ds-top')) {
                    var p = $this.offset ();
                    $this.attr ('ds-top', p.top);
                    $this.attr ('ds-left', p.left);
                    $this.attr ('ds-width', $this.width ());
                    $this.attr ('ds-height', $this.height ());
                  }

                  $this.css ('width', $this.attr ('ds-width'));
                  $this.css ('height', $this.attr ('ds-height'));
                  $this.attr ('data-spy', 'affix');
                  $this.affix ();
                  $this.applyfix = true;
                }
              });
            } else {
              $('[data-spy="affix"]').each (function () {
                var $this = $(this);
                if ($this.applyfix) {
                  $this.removeData("affix").removeClass ('affix affix-top affix-bottom');
                  $this.attr ('data-spy', 'ds-affix');
                  $this.applyfix = false;
                }
              });

              $('[data-spy="ds-fixed"]').each (function () {
                var $this = $(this);
                if ($this.applyfix) {
                  $this.css ('position', 'relative');
                  $this.css ('top', '');
                  $this.css ('left', '');
                  $this.css ('width', '');
                  $this.css ('height', '');
                  $this.applyfix = false;
                }
              });
            }
          }
        });
      });

    script.
      window.sio_url = '#{socketio_url}';

    script.
      $('.language').removeClass ("glyphicon glyphicon-check");
      if ($.i18n.lng() == 'th') {
        $('#language-thai').addClass ("glyphicon glyphicon-check");
      } else {
        $('#language-english').addClass ("glyphicon glyphicon-check");
      }
