!!!
html
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/jquery/css/smoothness/jquery-ui-1.8.20.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/docs.css')
    link(rel='stylesheet', href='/lib/backbone-forms-custom/templates/bootstrap.css')
    link(rel='stylesheet', href='/lib/backbone-forms/editors/jquery-ui.css')
    <!--[if lt IE 9]>
    <script src="lib/html5/html5.js"></script>
    <![endif]-->

    script(src='/lib/jquery/jquery-1.7.2.min.js')

  body
    <!-- Navbar ======================================== -->

    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse',data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          div.brand#spinner-area
          a.brand(href='/', data-i18n='app.name') #{title}
          ul.nav.pull-right
            - if (everyauth.loggedIn)
              li.nav-skip.dropdown
                a.dropdown-toggle(data-toggle="dropdown",href='#',role="button")
                  div.custom-icon.custom-icon-home
                  span#nav-home-username
                  span.caret
                ul.dropdown-menu(role="menu",aria-labelledby="dropdownMenu")
                  li.nav-skip
                    img.user-info(src="/images/user_info.png")
                    div#nav-home-fullname
                  li.nav-skip.divider
                  li.nav-skip.dropdown-submenu
                    a(href="#")
                      i.icon.icon-flag
                      span(data-i18n="app:language.Language") Language
                    ul.dropdown-menu
                      li.nav-skip
                        a(href="?setLng=th")
                          .language-check
                            &nbsp;
                            i.language#language-thai
                          span ไทย
                      li.nav-skip
                        a(href="?setLng=en-US")
                          .language-check
                            &nbsp;
                            i.language#language-english
                          span English
                  li.nav-skip.divider
                  li.nav-skip
                    a(href="/logout")
                      i.icon.icon-off
                      span(data-i18n="nav:logout") Logout
          .nav-collapse.collapse
            ul.nav#top_nav
              - if (!everyauth.loggedIn)
                li.active
                  a(href='/login',data-i18n='nav:login') Login

    <!-- End Navbar ==================================== -->
    #content.container
      != body

    script(src='/lib/jquery/jquery-ui-1.8.20.min.js')
    script(src='/lib/i18next/i18next-1.3.1.min.js')
    script(src='/lib/bootstrap/js/bootstrap.min.js')
    script(src='/lib/socket.io/socket.io.js')

    script(src='/lib/backbone/underscore.js')
    script(src='/lib/backbone/backbone.js')
    script(src='/lib/backbone/backbone.debug.js')
    script(src='/lib/backbone/backbone.paginator.js')
    script(src='/lib/backbone/backbone-nested-v1.1.2.min.js')
    script(src='/lib/backbone-forms/backbone-forms.min.js')
    script(src='/lib/backbone-forms/editors/jquery-ui.js')
    script(src='/lib/backbone-forms/adapters/backbone.bootstrap-modal.min.js')
    script(src='/lib/backbone-forms/editors/list.js')
    script(src='/lib/backbone-forms-custom/editors/darksolar.js')
    script(src='/lib/backbone-forms-custom/templates/bootstrap.js')

    - if (everyauth.loggedIn)
      script(src='/lib/highcharts/highcharts.js')
      script(src='/lib/highcharts/modules/exporting.js')
      script(src='/lib/date.format/date.format.js')
      script(src='/lib/spin/spin.min.js')
      script(src='/js/settings.js')
  
      script(src='/js/utils.js')
      script(src='/js/views/subnav.js')
      script(src='/js/views/paginator.js')
      script(src='/js/views/dsspinner.js')
      script(src='/js/views/searchtoolbar.js')

      script(src='/js/views/dashboard.js')
      script(src='/js/views/management.js')
      script(src='/js/views/package.js')
      script(src='/js/views/user.js')
      script(src='/js/views/accesscode.js')
      script(src='/js/views/registertracking.js')
      script(src='/js/views/radiusonlineuser.js')
      script(src='/js/views/charts/charts.js')
      script(src='/js/views/charts/chart_onlineusers.js')
      script(src='/js/views/charts/chart_traffic.js')

      script(src='/js/models/perm.js')
      script(src='/js/models/management.js')
      script(src='/js/models/package.js')
      script(src='/js/models/user.js')
      script(src='/js/models/accesscode.js')
      script(src='/js/models/radiususer.js')

      script(src='/js/main.js')
      script(src='/js/app/dashboard.js')
      script(src='/js/app/management.js')
      script(src='/js/app/package.js')
      script(src='/js/app/user.js')
      script(src='/js/app/logout.js')

    script.
      $.i18n.init({
        fallbackLng: 'en-US',
        useLocalStorage: false,
        debug: true,
        ns: {
          namespaces: [ 'app', 'nav', 'management', 'package', 'user',
                        'onlineusers', 'accesscode', 'registertracking' ],
          defaultNs: 'app'
        }
      }, function () {
        $('body').i18n ();
      });

    script.
      $(window).scroll (function () {
        var $window = $(window);
        if ($window.width () > 1000 && $window.height () >= 100) {
          if ($window.scrollTop() != 0 && !$window.affixSet) {
            $('[data-spy="ds-affix"]').each (function () {
              $('[data-spy="ds-fixed"]').each (function () {
                var $this = $(this);
                var p = $this.position ();

                $this.css ('top',  p.top);
                $this.css ('left', p.left);
                $this.css ('position', 'absolute');
              });

              $(this).attr ('data-spy', 'affix');
              $(this).affix ();
              $(window).affixSet = true;
            });
          } else {
            $('[data-spy="affix"]').each (function () {
              $('[data-spy="ds-fixed"]').each (function () {
                var $this = $(this);

                $this.css ('top',  0);
                $this.css ('left', 0);
                $this.css ('position', 'relative');
              });

              $(window).affixSet = false;
              $(window).off ('.affix');
              $(this).removeData ('affix').removeClass ('affix affix-top affix-bottom');
              $(this).attr ('data-spy', 'ds-affix');
            });
          }
        }
      });

    script.
      window.sio_url = '#{socketio_url}';

    script.
      $('.language').removeClass ("icon-check");
      if ($.i18n.lng() == 'th') {
        $('#language-thai').addClass ("icon-check");
      } else {
        $('#language-english').addClass ("icon-check");
      }
