extends register_layout

block register
  script(src='/libpassword/views/alerts.js')
  script(src='/lib/date.format/date.format.js')
  script(src='/libpassword/settings.js')
  script(src='/libpassword/utils.js')
  script(src='/libpassword/models/user.js')
  script(src='/libpassword/views/user.js')
  script(src='/libpassword/main.js')
  script(src='/js/form-validators.js')
