doctype html
html
  head
    meta(charset="utf-8")
    title= title
    meta(http-equiv="X-UA-Compatible",content="IE=edge") 
    meta(name="viewport",content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/lib/ionicons/2.0.0/css/ionicons.min.css')
    link(rel='stylesheet', href='/lib/adminlte/dist/css/AdminLTE.min.css')
    link(rel='stylesheet', href='/lib/adminlte/dist/css/skins/skin-blue.min.css')
    link(rel='stylesheet', href='/lib/backbone-forms-custom/templates/bootstrap3.css')
    link(rel='stylesheet', href='/lib/backbone-forms-custom/editors/jquery-ui.css')
    link(rel='stylesheet', href='/lib/jquery-ui/jquery-ui.min.css')
    link(rel='stylesheet', href='/lib/jasny-bootstrap/css/jasny-bootstrap.min.css')
    link(rel='stylesheet', href='/lib/iCheck/skins/flat/blue.css')
    link(rel='stylesheet', href='/lib/jquery-file-upload/css/jquery.fileupload.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.js"></script>
    <script src="lib/respond.js/respond.min.js"></script>
    <![endif]-->

  body.skin-blue.fixed
    .wrapper
      <!-- Main Header -->
      header.main-header
        <!-- Logo -->
        a.hidden-xs.logo(href="/")
          span(data-i18n='app.name')
            #{title}

        <!-- Header Navbar -->
        - if (everyauth.loggedIn)
          nav.navbar.navbar-static-top(role="navigation")
            <!-- Spinner - data loading -->
            span#spinner-area

            <!-- Sidebar toggle button -->
            a.sidebar-toggle(href="#",data-toggle="offcanvas",role="button")
              span.sr-only Toggle navigation
  
            <!-- Navbar Right Menu -->
            .navbar-custom-menu
              ul.nav.navbar-nav
                <!-- User Account Menu -->
                li.dropdown.user.user-menu
                  <!-- Menu Togle Button -->
                  a.dropdown-toggle(href="#",data-toggle="dropdown")
                    <!-- The user image in the navbar -->
                    img.user-image(src="/images/user_info.png",alt="User Image")
                    <!-- hidden-xs hides the username on small devices so only the image appears -->
                    span.hidden-xs#nav-home-username
                  ul.dropdown-menu
                    <!-- The user image in the menu -->
                    li.user-header
                      img.img-circle(src="/images/user_info.png", alt="User Image")
                      p 
                        #nav-home-fullname(style="color: #ffffff")
                    <!-- Menu Body -->
                    li.user-body
                      span.glyphicon.glyphicon-flag
                      span(data-i18n="app:language.Language") Language
                      a(href="?setLng=th")
                        img(src="/images/flags/th.png",style="padding-right: 5px;")
                        span ไทย&nbsp;
                        span.language#language-thai
                      a(href="?setLng=en-US")
                        img(src="/images/flags/us.png",style="padding-right: 5px;")
                        span English&nbsp;
                        span.language#language-english
                    <!-- Menu Footer -->
                    li.user-footer
                      .pull-right
                        a.btn.btn-default.btn-flat(href="/logout")
                          span.glyphicon.glyphicon-off
                          span(data-i18n="nav:logout") Logout
      aside.main-sidebar
        section.sidebar#mainmenu
    script(src='dist/js/darksolar-libs.min.js')

    - if (everyauth.loggedIn)
      script(src='dist/js/darksolar-loggedin-libs.min.js')

      script(src='dist/js/darksolar.min.js')
      script(src='/lib/iCheck/icheck.min.js')

    .content-wrapper
      section.content-header
        h1#page_header
        ol.breadcrumb#page_breadcrumb

      section.content
        #content
          != body
          block login
        #modal-area-confirmation

    .notification-area.h4

    script.
      $(function () {
        $.i18n.init({
          fallbackLng: 'en-US',
          useLocalStorage: false,
          debug: true,
          ns: {
            namespaces: [ 'app', 'nav', 'management', 'package', 'user',
                          'onlineusers', 'accesscode', 'registertracking',
                          'forms' ],
            defaultNs: 'app'
          }
        }, function () {
          if (window.DarkSolar) {
            DarkSolar.formValidatorsTranslation ();
          }
  
          $('body').i18n ();

          $('.language').removeClass ("glyphicon glyphicon-check");
          if ($.i18n.lng() == 'th') {
            $('#language-thai').addClass ("glyphicon glyphicon-check");
          } else {
            $('#language-english').addClass ("glyphicon glyphicon-check");
          }
        });
      });

    script.
      window.sio_url = '#{socketio_url}';
