extends register_layout

block register
  script(src='/libregister/views/alerts.js')
  script(src='/lib/date.format/date.format.js')
  script(src='/libregister/settings.js')
  script(src='/libregister/utils.js')
  script(src='/libregister/models/user.js')
  script(src='/libregister/views/user.js')
  script(src='/libregister/main.js')
  script(src='/js/form-validators.js')
