body {
  padding: 10px;
  padding-top: 65px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.language-check {
  padding-right: 10px;
  width: 10px;
  float: left;
  display: inline-block;
}

#management-content, #package-content, #user-content,
#radonlineuser-content, #accesscode-content, #regtrack-content {
  padding-top: 10px;
}

.subnav {
  margin-top: -3px;
  padding: 5px;
  z-index: 100;
}

.formaction {
  margin-top: -70px;
  padding-top: 7px;
  padding-left: 0px;
  padding-right: 0px;
  z-index: 100;
}


i.icon, img.icon {
  padding-right: 5px;
}

img.user-info {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100px;
}

#nav-home-fullname {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 200px;
  display: block;
  font-size: 12pt;
  font-weight: bolder;
}

div.custom-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}

div.custom-icon-mini {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}

div.custom-icon-home {
  background: url("/images/home-5-24.png") no-repeat;
}

div.custom-icon-dashboard {
  background: url("/images/dashboard-24.png") no-repeat;
}

div.custom-icon-management {
  background: url("/images/manager-24.png") no-repeat;
}

div.custom-icon-package {
  background: url("/images/full-folder-24.png") no-repeat;
}

div.custom-icon-user {
  background: url("/images/user-24.png") no-repeat;
}

div.custom-icon-management-group {
  background: url("/images/groups-16.png") no-repeat;
}

div.custom-icon-package-policy {
  background: url("/images/extensions-16.png") no-repeat;
}

div.custom-icon-package-package {
  background: url("/images/internet-16.png") no-repeat;
}

div.custom-icon-user-online {
  background: url("/images/running-man-16.png") no-repeat;
}

div.custom-icon-user-user {
  background: url("/images/user-16.png") no-repeat;
}

div.custom-icon-user-accesscode {
  background: url("/images/key-16.png") no-repeat;
}

div.custom-icon-user-registertrack {
  background: url("/images/calendar-16.png") no-repeat;
}

img.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div.logo {
  text-align: center;
}

img.logo {
  display: inline-block;
  position: relative;
}

.logincontainer {
  padding-top: 35px
}

.loginform {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
}

.glyphicon {
  margin-right: 3px;
}

.field-expiration {
  padding-bottom: 40px;
}

.alert-fixed-bottom {
  -webkit-box-shadow: 0px -5px 8px rgba(0, 0, 0, .15);
          box-shadow: 0px -5px 8px rgba(0, 0, 0, .15);
}

table {
    table-layout:fixed;
}

.table-header {
  margin-bottom: -1px;
}

.subnav-toggle {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  background: #aaaaaa;
  font-size: 15pt;
  font-weight: normal;
}

.navbar {
  -webkit-box-shadow: 0px -2px 16px rgba(0, 0, 0, .7);
          box-shadow: 0px -2px 16px rgba(0, 0, 0, .7);
}

.navmenu {
  -webkit-box-shadow: 5px -5px 16px rgba(0, 0, 0, .2);
          box-shadow: 5px -5px 16px rgba(0, 0, 0, .2);
}

#mainnav{
  -webkit-box-shadow: 12px 0px 16px rgba(0, 0, 0, .7);
          box-shadow: 12px 0px 16px rgba(0, 0, 0, .7);
  z-index: 999;
}
