<td><%= id %></td>
<td class="autotrim"><%= package %></td>
<td class="autotrim"><%= registered %>/<%= amount %> 
<i class="glyhicon glyphicon-<%= register_all_icon %>" rel="tooltip" title="Full"></i>
</td>
<td class="autotrim"><%= purpose %></td>
<td>
  <%= issued_timestamp %>&nbsp;&nbsp;<i class="glyphicon glyphicon-user" rel="tooltip" title="<%= issued.by %>"></i>
</td>
<td>
  <center>
    <i class="glyphicon glyphicon-<%= expired_icon %>" rel="tooltip" title="Expired"></i>
    <button class="btn btn-default" id="btnprint<%= _id %>" data-id="<%= _id %>"><i class="glyphicon glyphicon-print"></i></button>
  </center>
</td>
