<td width="10%">
  <%= id %>
</td>
<td width="25%" class="autotrim">
  <%= purpose %>
</td>
<td width="10%">
  <%= registered %>/<%= amount %>
  <span class="glyphicon glyphicon-<%= register_all_icon %>" rel="tooltip"
   title="Full"></span>
</td>
<td width="15%">
  <span class="label label-primary autotrim"
   title="<%= package %>"><%= package %></span>
</td>
<td width="25%">
  <%= issued_timestamp %>&nbsp;&nbsp;<span class="glyphicon glyphicon-user"
    rel="tooltip" title="<%= issued.by %>"></span>
  <span class="glyphicon glyphicon-<%= expired_icon %>" rel="tooltip"
   title="Expired"></span>
</td>
<td>
  <div class="command">
    <span class="item-print fa fa-print btn btn-default btn-flat" id="btnprint<%= _id %>" data-id="<%= _id %>"></span>
    <span class="item-edit fa fa-edit btn btn-default btn-flat" id="btnedit<%= _id %>" data-id="<%= _id %>"></span>
  </div>
</td>
