<div class="modal fade" id="confirmmodal_<%= modal_id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%= modal_header %>
      </div>
      <div class="modal-body">
        <%= modal_body %>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" id="modalConfirm">
          <span class="glyphicon glyphicon-fire"></span>
          <span data-i18n="app:button.confirm">Confirm</span>
        </button>
        <button class="btn btn-primary" id="modalCancel">
          <span class="glyphicon glyphicon-repeat"></span>
          <span data-i18n="app:button.cancel">Cancel</span>
        </button>
      </div>
    </div>
  </div>
</div>
