<div role="tabpanel" id="dash_tabpanel">
  <ul class="nav nav-tabs" role="tablist">
  <% _.each (hosts, function (host) {
    host_name = host[0].toUpperCase () + host.slice (1);
  %>
    <li role="presentation"><a href="#<%= host %>" aria-controls="<%= host %>" role="tab" data-toggle="tab"><%= host_name %></a></li>
  <% }); %>
  </ul>
  <br/>
  <div class="tab-content">
  <% _.each (hosts, function (host) { %>
    <div role="tabpanel" class="tab-pane" id="<%= host %>"></div>
  <% }); %>
  </div>
</div>
