<td width="7%">
  <input type="checkbox" id="<%= radacctid %>">&nbsp;<%= listno %>
</td>
<td width="10%"><%= username %></td>
<td width="15%">
  <span class="label label-primary autotrim"
   title="<%= groupname %>"><%= groupname %></span>
</td>
<td width="20%"><%= firstname %></td>
<td width="20%"><%= surname %></td>
<td width="10%">
  <span class="rh-popover label label-primary" data-toggle="popover" 
    title="<span class='h4' style='color: #666666'><%= title_description %>"
    data-content="
      <div style='color: #000000; display: block; width: 400px;'>
      <% if (callingstationid != '00:00:00:00:00:00') { %>
      <p>
        <span><%= title_macaddress %></span>: 
        <span class='label label-success' style='font-size: 10pt'>
          <%= callingstationid %>
        </span>
      </p>
      <% } /* callingstationid */ %>
      <p>
        <span><%= title_start %></span>: 
        <span><%= starttime %></span>
      </p>
      <p>
        <span><%= title_nasip %></span>: 
        <span><%= nasipaddress %></span>
      </p>
      </div>"
  >
    <%= framedipaddress %>
  </span>
</td>
<td width="18%"><%= usage %></td>
