<div class="row" style="margin-left: 0px;">
  <div class="col-xs-8 input-group pull-left">
    <% if (searchable) { %>
    <input class="form-control" type="text" style="width: 50%"></input>
    <button class="btn form-control btn btn-default input-group-addon" id="reset" style="width: 38px;">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
    <button class="form-control btn btn-success input-group-addon" id="search" style="width: 20%; color: #ffffff;">
      <span class="glyphicon glyphicon-search icon-white"></span>
      <span class="hidden-sm hidden-xs" data-i18n="app:button.search">Search</span>
    </button>
    <% } /* searchable */ %>
  </div>
  <div class="col-xs-4 input-group pull-right" style="padding-right: 16px;">
    <% btnNewDisabled = "";
       btnDeleteDisabled = "";
       if (!btnNew) {
         btnNewDisabled = "disabled";
       }

       if (!btnDelete) {
         btnDeleteDisabled = "disabled";
       }
    %>
    <% if (btnNew || btnDelete) { %>
    <button class="form-control btn btn-default input-group-addon <%= btnNewDisabled %>" id="new" style="width: 50%;">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="hidden-xs" data-i18n="app:button.add">Add</span>
    </button>
    <button class="form-control btn btn-danger input-group-addon <%= btnDeleteDisabled %>" id="delete" style="width: 50%; color: #ffffff;">
      <span class="glyphicon glyphicon-trash"></span>
      <span class="hidden-xs" data-i18n="app:button.delete">Delete</span>
    </button>
    <% } /* btnNew,Delete */ %>
  </div>
</div>
