<td><%= index %></td>
<td>
  <span class="autotrim"><%= username %></span>
</td>
<td class="autotrim"><%= firstname %></td>
<td class="autotrim"><%= surname %></td>
<td class="autotrim"><%= description %></td>
<td class="autotrim"><%= id %></td>
<td>
  <span class="label label-primary autotrim"
   title="<%= profile %>"><%= profile %></span>
<% if (fail != undefined) { %>
  <span class="label label-danger autotrim"
   title="<%= fail %>"><%= fail %></span>
<% } /* fail */ %>

<% if (!activated) { %>
  <span class="glyphicon glyphicon-lock"></span>
<% } %>
</td>
