<td></td>
<td><%= listno %></td>
<td class="autotrim"><%= username %></td>
<td class="autotrim"><%= firstname %></td>
<td class="autotrim"><%= surname %></td>
<td class="autotrim"><%= package %></td>
<td>
  <center>
  <i class="icon-<%= userstatus_icon %>"></i>&nbsp;
  <i class="icon-<%= registered_icon %>" rel="tooltip" title="Register User"></i>
  <i class="icon-<%= expired_icon %>" rel="tooltip" title="Expired"></i>
  <i class="icon-<%= usermanagement_icon %>" rel="tooltip" title="Management User"></i>
  <i class="icon-<%= useradmin_icon %>" rel="tooltip" title="Admin User"></i>
  </center>
</td>
