<td></td>
<td><%= listno %></td>
<td class="autotrim"><%= username %></td>
<td class="autotrim"><%= firstname %></td>
<td class="autotrim"><%= surname %></td>
<td class="autotrim"><%= package %></td>
<td>
  <center>
  <span class="glyphicon glyphicon-<%= userstatus_icon %>"></span>
  <span class="glyphicon glyphicon-<%= registered_icon %>" rel="tooltip" title="Register User"></span>
  <span class="glyphicon glyphicon-<%= expired_icon %>" rel="tooltip" title="Expired"></span>
  <span class="glyphicon glyphicon-<%= usermanagement_icon %>" rel="tooltip" title="Management User"></span>
  <span class="glyphicon glyphicon-<%= useradmin_icon %>" rel="tooltip" title="Admin User"></span>
  </center>
</td>
